@import "tailwindcss";

html {
  scrollbar-gutter: stable;
}

body {
  background: #030712;
  font-family: var(--font-inter-sans);
}

.sidebar-item {
  @apply text-gray-100 text-lg font-semibold rounded-lg px-5 py-2 hover:bg-gray-900 transition-colors duration-300;
}

.dropdown-item {
  @apply text-gray-100 px-5 py-2 hover:bg-gray-900 cursor-pointer duration-300;
}

.modal-select {
  @apply text-gray-100 appearance-none border-2 border-gray-700 rounded-lg text-lg outline-none px-5 py-1 w-100 cursor-pointer;
}

.modal-open {
  overflow: hidden;
}

.option-item {
  @apply cursor-pointer hover:bg-gray-900 duration-300 rounded-md px-3 py-2 flex gap-x-3 items-center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  border-radius: 100px;
  border: 3px solid #090b0f;
}
