@import "tailwindcss";

body {
  background: #090b0f;
  font-family: var(--font-inter-sans);
}

.sidebar-item {
  @apply text-gray-100 text-lg font-semibold rounded-lg px-5 py-2 hover:bg-gray-900 transition-colors duration-300;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(200, 200, 200);
  border-radius: 100px;
  border: 3px solid #090b0f;
}
